<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>California Housing Price Prediction</title>
</head>
<body>
<form action="/predict" method="POST">
    <label>longitude</label>
    <input type="text" name="" id="longitude" placeholder="longitude">

    <label>latitude</label>
    <input type="text" name="" id="latitude" placeholder="latitude">

    <label>housing_median_age</label>
    <input type="text" name="" id="housing_median_age" placeholder="housing_median_age">

    <label>total_rooms</label>
    <input type="text" name="" id="total_rooms" placeholder="total_rooms">

    <label>total_bedrooms</label>
    <input type="text" name="" id="total_bedrooms" placeholder="total_bedrooms">

    <label>population</label>
    <input type="text" name="" id="population" placeholder="population">

    <label>households</label>
    <input type="text" name="" id="households" placeholder="households">

    <label>median_income</label>
    <input type="text" name="" id="median_income" placeholder="median_income">

    <label>ocean_proximity</label>
    <select id="ocean_proximity">
        <option value="<1H OCEAN">1H OCEAN</option>
        <option value="INLAND">INLAND</option>
        <option value="NEAR OCEAN">NEAR OCEAN</option>
        <option value="NEAR BAY">NEAR BAY</option>
        <option value="ISLAND">ISLAND</option>
      </select>

</form>
</body>
</html>