<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>California Housing Price Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <div class="title">California Housing Price Prediction</div>

        <form action="/predict" method="POST">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Longitude</span>
                    <input type="number" name="longitude" placeholder="longitude" step="0.01">
                </div>

                <div class="input-box">
                    <span class="details">Latitude</span>
                    <input type="number" name="latitude" placeholder="latitude" step="0.01">
                </div>

                <div class="input-box">
                    <span class="details">Housing Median Age</span>
                    <input type="number" name="housing_median_age" placeholder="housing median age" step="0.01">
                </div>

                <div class="input-box">
                    <span class="details">Total Rooms</span>
                    <input type="number" name="total_rooms" placeholder="total rooms" step="0.01">
                </div>

                <div class="input-box">
                    <span class="details">Total Bedrooms</span>
                    <input type="number" name="total_bedrooms" placeholder="total bedrooms" step="0.01">
                </div>

                <div class="input-box">
                    <span class="details">Population</span>
                    <input type="number" name="population" placeholder="population" step="0.01">
                </div>

                <div class="input-box">
                    <span class="details">Households</span>
                    <input type="number" name="households" placeholder="households" step="0.01">
                </div>

                <div class="input-box">
                    <span class="details">Median Income</span>
                    <input type="number" name="median_income" placeholder="median income" step="0.01">
                </div>
            </div>

            <div class="ocean-details">
                <span class="ocean-details-title">Ocean Proximity</span>
                <select name="ocean_proximity">
                    <option value="<1H OCEAN">1H OCEAN</option>
                    <option value="INLAND">INLAND</option>
                    <option value="NEAR OCEAN">NEAR OCEAN</option>
                    <option value="NEAR BAY">NEAR BAY</option>
                    <option value="ISLAND">ISLAND</option>
                </select>
            </div>

            <div class="button">
                <input type="submit" value="Predict">
            </div>

            <div class="predict-details">
            {% if flag %}
                <span class="predict-details-error">Value Error. Check Input.</span>            
            {% elif predicted_value %}
                <span class="predict-details-title">Predicted Housing Value : &nbsp;&nbsp;</span>
                <span class="predict-details-value">{{predicted_value}} USD</span>
            </div>
            {% endif %}

        </form>

    </div>
</body>

</html>